.ProductPage {
    margin-top: 6rem;
    text-align: center;

    @media screen (max-width: 720px) {
        margin-top: 7rem;
    }
}

.SectionContainer {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    justify-content: center;
    margin-bottom: 3rem;

    @media screen and (max-width: 720px) {
        flex-direction: column;
    }
}